.box-total{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 2px solid black;
    background-color: #d9f2d0;
    border-radius: 15px;
}

.in-box-cala{
    height: 45px;
    display: flex;
    align-items: center;
    
  }

.phone-name-total-box{
    width: 65%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.price-total-box{
    width: 24%;
    display: flex;
    align-items: center;
  }

  .box-green-total-box{
    color: #3b7d38;
  }