.simple-row {
    background-color: green;
    margin: 10px 15px;
    padding: 5px;
  }

  .item-status {
    padding-left: 40px;
    display: inline;

    .buy-button {
      margin-right: 10px;
    }
  }
  