.head{
  background-color: #0b76a0;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.head-in{
width: 30%;
height: 150px; 
}
.head-in2{
width: 30%;
text-align: center;
font-size: 35px;

}
.head-in3{
width: 30%;
text-align: right;
color: #adadad;

}